---
title: Pricing
heading: Find the perfect plan for your child
description: All plans include yoga for free and one dedicated faculty for one subject.
pricing_table:
  - name: WBBSE/WBHSCE Board
    color: "#8e8e8e"
    features:
      - text: Class 1 to 4 ₹399 per month
        highlight: false
      - text: Class 5 to 10 ₹599 per month
        highlight: false
      - text: Class 11 Pure-Science ₹2500 per month
        highlight: false
      - text: Class 11 Bio-Science ₹2000 per month
        highlight: false
      - text: Class 11 Arts/Commerce ₹2000 per month
        highlight: false
      - text: Class 12 Science ₹3000 per month
        highlight: false
      - text: Class 12 Arts/Commerce ₹2500 per month
        highlight: false
      - text: Yoga free for all
        highlight: true
  - name: CBSE Board
    color: "#4a4a4a"
    features:
      - text: Class 1 to 4 ₹1000 per month
        highlight: false
      - text: Class 5 to 10 ₹1500 per month
        highlight: false
      - text: Class 11 Pure-Science ₹3000 per month
        highlight: false
      - text: Class 11 Bio-Science ₹2500 per month
        highlight: false
      - text: Class 11 Arts/Commerce ₹2500 per month
        highlight: false
      - text: Class 12 Science ₹4000 per month
        highlight: false
      - text: Class 12 Arts/Commerce ₹3000 per month
        highlight: false
      - text: Yoga free for all
        highlight: true
  - name: ICSE Board
    color: "#000000"
    features:
      - text: Class 1 to 4 ₹1000 per month
        highlight: false
      - text: Class 5 to 10 ₹2000 per month
        highlight: false
      - text: Class 11 Pure-Science ₹4000 per month
        highlight: false
      - text: Class 11 Bio-Science ₹3000 per month
        highlight: false
      - text: Class 11 Arts/Commerce ₹3000 per month
        highlight: false
      - text: Class 12 Science ₹5000 per month
        highlight: false
      - text: Class 12 Arts/Commerce ₹4000 per month
        highlight: false
      - text: Yoga free for all
        highlight: true
    <!-- call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started -->
faq:
  - question: If someone is in bad financial condition and wants to study, they can contact us on the given number. We will verify all the information, if all the information provided is correct, then he needs to take an exam, if he passes, he will be given a free scholarship, all his books will be provided and no tuition fees will be waived off.
    answer: যদি কারো আর্থিক অবস্থা খারাপ হয় এবং সে পড়াশোনা করতে চাই তারা আমাদের দেওয়া নাম্বার এ যোগাযোগ করবে | আমরা সব তথ্য যাচাই করবো যদি সব দেওয়া তথ্য সঠিক হয় তাহলে তার একটা পরীক্ষা নেওয়া হবে সেটা পাস করলে তাকে স্কলারশিপ দেওয়া হবে,তার পড়াশুনার যাবতীয় বই খাতা দেওয়া হবে এবং তার কেনো রকম ফিস লাগবে না |
  - question: Cash or UPI payments are available.
    answer: নগদ বা UPI পেমেন্ট নেওয়া হয়।
  - question: Contact us for any further questions at <a href="#">swaraj008@gmail.com</a> or +91 9999999999
    answer: আরও কোন প্রশ্নের জন্য আমাদের সাথে যোগাযোগ করুন <a href="#">swaraj008@gmail.com</a> or +91 9999999999
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
